/* responsive for small devices */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container ,
     .fact-card-container,
     .sponser-container{
        grid-template-columns: repeat(1,1fr);
    }

    .our-features{
        margin-left: 20px;
    }
    .fact-card-container  {
        justify-items: center;
        gap: 24px;
    }
    .sponser-container{
        justify-items: center;
        gap: 40px;
    }

    .feature-container {
        flex-direction: column;
        gap: 20px;
    }
    .feature-apa-img{
        width: 100%;
    }

    .experience-badge {
       display: none;

    }
}




/* responsive for medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponser-container{
        grid-template-columns: repeat(2,1fr) ;
        justify-items: center;
        gap: 50px;
    }
    .fact-card-container{     
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .feature-container {
        flex-direction: column;
        gap: 20px;
    }
    .feature-apa-img{
        width: 100%;
    }

    
}
